{% extends "blogi/base.html" %}
{% block content %}
        <h1>Uusi Postaus</h1>
        <form method="post">
            {% csrf_token %}
           
            {# Luo rivit ja sarakkeet, jotta saadaan lomake kapeammaksi ilolla näytöllä #}
            <div class="row">
             {# col 12 = oletuksena tämä sarake on leveyteltään 12 osaa 12:sta (100%) #} 
             {# jos näyttö on leveämpi kun small niin leveys on 10/12 (n.83%) #}
             {# jos näyttö on leveämpi kun medium niin leveys on 8/12 (n.66%) ... #}
             <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="form mb-5">

                <label for="otsikko" class="form-label">Otsikko</label>
                <input class="form-control" id="otsikko" name="otsikko">
              </div>
              <div class="mb-3">
                <label for="teksti" class="form-label">Teksti</label>
                <textarea name="teksti" class="form-control" id="teksti" style="height: 10cm;"></textarea>

              
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
            </div>
            </div>
            </form>



    {% endblock %}