{% extends "blogi/base.html" %}
{% block content %}
        <h1>Koodausblogi - Postaukset</h1>
        <form method="post">
            {% csrf_token %}
            <label>
                Otsikko
                <input name = "otsikko">

            </label>
            <br>
            <label>
                teksti
                <textarea name="teksti"></textarea>
            </label>
            <br>
            <button type="submit">Lähetä</button>

        </form>
        <a href="{% url 'postauslista' %}">Postaukset</a>    
{% endblock %}